.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.NavBar {
  height: 10%;
  width: 100%;
  background-color: #021E39;
  display: flex;
  justify-content: center;  
}

.NavBarList {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.NavBarList .row {
  float: left;
  flex: 100%;
  display: inline;
  padding: 5px;
  text-align: center;
  align-items: center;
  font-size: 25px;
  color: white;
  margin-left: 15px;
}

.NavBarList .row:hover {
  cursor: pointer;
  background-color: black;
}

.NavBarList #active {
  background-color: dark;
}


.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  display: grid;
  place-items: center;
}

.footer {
  display: flex;
  height: 10%;
  bottom: 0;
  width: 100%;
  background-color: #021E39;
  justify-content: center;
  text-align: center;
}

.footerList {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footerList .aboutLink {
  text-decoration: none;
  display: center;
  color: white;
  font-size: 25px;
  margin-left: 15px;
}

.footerList .linkedInLogo {
  float: left;
  flex: 100%;
  display: center;
  padding: 5px;
  text-align: center;
  align-items: center;
  font-size: 25px;
  margin-left: 15px;
}

.footerList .copyright {
  float: left;
  flex: 100%;
  display: center;
  padding: 5px;
  text-align: center;
  align-items: center;
  font-size: 25px;
  margin-left: 15px;
}

.Scores {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align-last: center;
}

.date-selector {
  display: contents;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  justify-content: space-evenly;
  grid-gap: 100px;
  background-color: rgb(226, 222, 222);
  padding: 10px;
}

 .grid-container .score {
  width: 250px;
  background-color: white;
  border: 5px solid #021e3984;
  padding: 20px;
}

table, th, td {
  border: 1px solid #021e3984;
  padding: 5px;
}

.news {
  height: 80vh;
  border: 1px solid #021e3984;
  background-color: white;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.newsTitle {
  text-decoration: underline;

}

.team {
  border: 1px solid #021e3984;
  background-color: rgb(226, 222, 222);
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.thead {
  background-color: #021e3984;
}