.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.NavBar {
  height: 10%;
  width: 100%;
  background-color: #021E39;
  display: flex;
  justify-content: center;  
}

.NavBarList {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.NavBarList .row {
  float: left;
  flex: 100%;
  display: inline;
  padding: 5px;
  text-align: center;
  align-items: center;
  font-size: 25px;
  color: white;
  margin-left: 15px;
}

.NavBarList .row:hover {
  cursor: pointer;
  background-color: black;
}

.NavBarList #active {
  background-color: dark;
}


.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  display: grid;
  place-items: center;
}

.Footer {
  position: fixed;
  height: 10%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #021E39;
  text-align: center;
  align-items: inline;
}

.aboutLink {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-left: 15px;
}